.drag-drop {
    border-radius: 8px;
    color: #fff;
  }
  .document-uploader {
    border: 1px solid #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
  
    .upload-info {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
  
      svg {
        font-size: 36px;
        margin-right: 1rem;
      }
  
      div {
        p {
          margin: 0;
          font-size: 16px;
        }
  
        p:first-child {
          font-weight: bold;
        }
      }
    }
  
    
  
    .browse-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      /* padding: 0.5rem 1rem; */
      border: 1px solid var(--border-color);
      border-radius: 8px;
      cursor: pointer;
      background-color: var(--primary-color);
      &:hover {
        background-color: transparent;
      }
    }
  
    input[type="file"] {
      display: none;
    }
  }